version: '3.8'

services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: vulnbank
      POSTGRES_USER: bankuser
      POSTGRES_PASSWORD: insecure123
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - bank_network

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=True
      - SECRET_KEY=super-secret-key-dont-use-in-prod
    depends_on:
      - db
    networks:
      - bank_network

volumes:
  postgres_data:

networks:
  bank_network:
    driver: bridge
